.bg-grey {
    background-color: #efefef;
    padding: 1rem;
    border-radius: .3rem;
}

.padder {
    padding: 1rem;
    border-radius: .3rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.body-style {
  margin-top: 13%;
}

.matpel-pilihan { }
