/* DO NOT TOUCH THE FLEX */

html {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.body {
  flex: 1;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 20px;
}

/* CUSTOMIZATION HERE */

.form-select {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.4rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0.4rem !important;
}

.bg-grey {
    background-color: #efefef;
    padding: 1rem
    border-radius: .3rem;
}

a {
  text-decoration: none !important;
}

/* COMMON PAGE */

.sidebar {
  margin-top: 40px;
}

.content {

}

.sidebar-title {

}

.content-title {

}

/* PROBLEM SETS PAGE */

.masonry-layout {
  column-count: 3;
  column-gap: 0;
}
.masonry-layout-panel {
  break-inside: avoid;
  padding: 1rem;
}